langchain>=0.3
langchain-community
langchain-ollama
langchain-huggingface
langgraph
chromadb
rank-bm25
networkx
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
streamlit
sentence-transformers
PyMuPDF
numpy<2
mcp
elasticsearch>=8.0.0,<9.0.0

